# Ignore Python virtual environments
venv/

# Ignore Python bytecode
__pycache__/
*.pyc

# Ignore VSCode settings (optional)
.vscode/

# Ignore models (large files, can be regenerated)
agent_core/agent/models/
*.pkl
*.ubj


# Ignore environment files
.env

# Ignore system files
.DS_Store
Thumbs.db
# Ignore all JSON files
*.json